*{
  padding: 0;
  margin: 0;
}
//h
h1{
  margin-left: 2vw;
}

textarea {
    resize: none;
}

//Atom
.Fab{
  position:fixed; top:70vh; left:80vw;
  text-align: center;
  box-shadow: 0px 2px 3px gray;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background: #03a9f4;;
  color: white;
  i{
    line-height: 56px;
  }
}

.OutlineButton{
  border: solid 1px black;
  color: red;
  cursor : default;
}

.ButtonOfEdit{}

.CheckNoTodo{}

.BackCover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128,128,128,0.5);
}

.EnterText{
  width: 30vw;
  height: 15vh;
}

.EnterDate{
  display: flex;
}


//Molecules
.MenuBar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7vh;
  background: gray;
  .ButtonOfGear{
    margin-right: 2vw;
  }
}

.TwoLowText{
}

.CardEnterTextAndData{
  position: absolute;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  height: 20vh;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 3px gray;
  .EnterText{}
  &__DateAndButton{
    display: flex;
    justify-content: center;
    .EnterDate{}
    .OutlineButton{}
  }
}

.CardToSet{
  position: absolute;
  top: 35vh;
  left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 12vw;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 3px gray;
}






.TodoCard{
  display: flex;
  align-items: center;
  width: 60vw;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 3px gray;
  .CheckNoTodo{
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .TwoLowText{
    width: 50vw;
    word-wrap: break-word;
  }
  .ButtonOfEdit{
    margin-right: 1vw
  }
  .ButtonOfDelete{
    margin-right: 1vw
  }
}



//Organisms
.TodoList{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  .TodoCard{
    margin-top: 3vw;
    &:first-child{
      margin-top: 10vw;
    }
  }
}

.AddTodo{
  .BackCover{}
  .CardEnterTextAndData{}
}

.SetTodo{
  .BackCover{}
  .CardToSet{}
}



//Templates
.TopPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  .MenuBar{}
  .TodoList{}
  .Fab{}
}
